@model Noodle.ViewModels.ProductInBillViewModel
@{
    ViewBag.Title = "Detalles de factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">@Model.Name</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio U.</th>
            <th>Cantidad</th>
            <th>Precio T.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var products in Model.ProductsFor)
        {
            <tr>
                <th scope="row">@products.ProductName</th>
                <td>$@products.ProductPrice</td>
                <td>@products.Lot</td>
                <td>$@(@products.Lot * @products.ProductPrice)</td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <h4>Cliente: @Model.ClientName</h4>
    <h4>Total: $@Model.Total</h4>
</div>
