@model Noodle.ViewModels.OneSellerViewModel
@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2>Detalles del vendedor</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <h2>@Model.Seller.Nombre</h2>
            <img src="~/Images/seller-icon.png" />
            <h3>@Model.Seller.Descripcion</h3>
            <h3>Cedula: @Model.Seller.Cedula</h3>
            <h3>Telefono: @Model.Seller.Telefono</h3>
            <h3>Direccion: @Model.Seller.Direccion</h3>
            <a href="/Sellers/Edit/@Model.Seller.Id" class="btn btn-default">Editar</a>
            <a href="/Sellers/Remove/@Model.Seller.Id" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
</div>